{{ define "headerLeft" }}
{{ end }}

{{ define "headerRight" }}
{{ end }}

{{ define "content" }}

<h1 class="character-name">{{ (index .Characters 0).Name }}</h1>
<h3 class="character-server">{{ (index .Characters 0).Server }}</h3>

{{ range $prog := .CharacterProgression }}
{{ if $prog.EncounterInfo.IsDisplayable }}
<div class="fight-info">
    <span class="zone">{{$prog.EncounterInfo.ZoneName }}</span>
    {{ if $prog.IsKill }}
        <span class="prog cleared" title="First Clear Duration: {{duration $prog.Duration}}">&#x2713;</span>
        <span class="last-update">Cleared {{displaydate $prog.Time }}</span>
    {{ else }}
        <span class="prog" title="Longest Encounter Duration: {{duration $prog.Duration}}.">P{{ $prog.Phase }} {{percent $prog.PhasePercentage }}</span>
        <span class="last-update">Last Update {{displaydate $prog.Time }}</span>
    {{ end }}
</div>
{{ end }}
{{ end }}

{{ end }}
