{{ define "headerLeft" }}
{{ end }}

{{ define "headerRight" }}
{{ end }}

{{ define "content" }}

<h1 class="character-name">{{ (index .Characters 0).Name }}</h1>
<h3 class="character-server">{{ (index .Characters 0).Server }}</h3>


{{ range $encounter := .EncounterList }}

    <div class="fight-info">
        <span class="zone">{{ $encounter.ZoneName }}</span>

        {{ $hasProg := 0 }}
        {{ range $prog := $.CharacterProgression }}
            {{ if eq $prog.EncounterInfoID $encounter.ID }}
                {{ $hasProg = 1 }}
                {{ if $prog.IsKill }}
                    <span class="prog cleared" title="First Clear Duration: {{duration $prog.Duration}}">&#x2713;</span>
                    <span class="last-update">Cleared {{displaydate $prog.Time }}</span>
                {{ else }}
                    <span class="prog" title="Fight Progression: {{ percent $prog.FightPercentage }} Longest Encounter Duration: {{duration $prog.Duration}}.">
                        {{ if eq $prog.Phase 0 }}
                            {{ percent $prog.FightPercentage }}
                        {{ else }}
                            P{{ $prog.Phase }} {{ percent $prog.PhasePercentage }}
                        {{ end }}
                    </span>
                    <span class="last-update">Last Update {{displaydate $prog.Time }}</span>
                {{ end }}
            {{ end }}
        {{ end }}
        {{ if not $hasProg }}
            <span class="prog" title="N/A">?</span>
            <span class="last-update">N/A</span>
        {{ end }}

    </div>

{{ end }}


{{ end }}
