{{ define "headerLeft" }}
{{ end }}

{{ define "headerRight" }}
{{ end }}

{{ define "content" }}

<div class="character-info">
    <div class="character-links">(
        <a target="_blank" href="{{ fflogurl (index .Characters 0) }}">FFLogs</a>
        <a target="_blank" href="https://na.finalfantasyxiv.com/lodestone/character/?q={{ (index .Characters 0).Name }}&worldname={{ (index .Characters 0).Server }}">Lodestone</a>
    )</div>
    <h1 class="character-name">{{ (index .Characters 0).Name }}</h1>
    <h3 class="character-server">{{ (index .Characters 0).Server }}</h3>
</div>
<div class="encounter-info">
    <h3>Encounter Name Here (Savage)</h3>
</div>


TODO


{{ end }}
