{{ define "headerLeft" }}
{{ end }}

{{ define "headerRight" }}
{{ end }}

{{ define "content" }}

<div class="about">
    <h2>Track your raid progression</h2>
    <p>FFProg allows you to track the raid progression of players in Final Fantasy XIV.</p>
</div>

<div class="forms">

    <div class="import">
        <h3>Import progression data via FFLogs report...</h3>
        <form class="pure-form pure-g" hx-get="/i" hx-target="#import-results" hx-indicator="#import-results">
            <div class="pure-u-4-5">
                <input name="r" type="text" id="f-import" placeholder="FFLogs report URL..." />
            </div>
            <div class="pure-u-1-5">
                <button type="submit" class="pure-button pure-button-primary">Import</button>
            </div>
        </form>
        <div id="import-load" class="loader"></div>
        <div id="import-results">
            <em>Enter FFLogs report URL above!</em>
        </div>
    </div>
    <div class="search pure-form">
        <h3>Search for character...</h3>

        <input
            id="f-search"
            class="form-control"
            type="search"
            placeholder="Character name..."
            name="n"
            hx-get="/s"
            hx-trigger="keyup changed delay:500ms, search"
            hx-target="#search-results"
            hx-indicator="#search-load"
        />

        <div id="search-load" class="loader"></div>
        <div id="search-results">
            <em>Enter a character name above!</em>
        </div>
    </div>

    <div class="section">
        <h2>How It Works</h2>
        <p>
            FFProg works by simply scaning reports from FFLogs and recording the best attempt from the report. Sadly this isn't an automated process and requires someone
            to manually link a report from FFLogs. Once done however you can search for the character's involved and see their furthest progression point in all raids
            that have been processed by FFProg.
        </p>
        <p>
            You can use FFProg to showcase your achievements or to verify that players are at the point of progression in a raid they claim to be.
        </p>
    </div>

    <div class="section">
        <h2>Future Improvements</h2>
        <p>
            Some ideas for future improvements are...
        </p>
        <p>
            <ul>
                <li>Ability to link multiple characters. (So the progression of a main character can be visible on an alt character.)</li>
                <li>Look for ways to automatically import reports.</li>
                <li>Track progression of other things besides raiding (achievements, mounts, etc).</li>
            </ul>
        </p>
        <p>
            None of these improvements will get implemented unless I know they are wanted. Please reach out to me on Discord if you'd like to see them!
            <br/><br/><strong>chompeh</strong>
        </p>
    </div>

</div>

<script type="text/javascript">
window.addEventListener("load", function() {
    document.getElementById("f-search").value = ""; 
});
</script>

{{ end }}
